# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Large files (RAG related)
*.pkl
*.faiss
*.bin
*.pt

# Generated ChromaDB
chroma_db/

# Data folders
data/
models/
vectorstore/
embeddings/